@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap')

:root{
    --vertical-space: 2rem;
    --horizontal-space: 3rem;
    --background-color:#7E5EF2;
    --font-color:#ffffff;
    --secondary-color:#B3B6F2;
    --tertinary-color:#62D98B;
    --underline-color:#F27A5E;
}

#personalPhoto{
    height: 15em;
}

p{
    max-width: 40em;
    color: #ffffff;

}

h1, h2, h3, h4{
    line-height: 1.2em;
    font-family: "Truculenta", sans-serif;
    color: #ffffff;
}

body{
    background-color:#7E5EF2;
    font-family: "Roboto", sans-serif;
    line-height: 1.5em;
    display: grid;
    grid-template-areas: "head nav"
                         "main main"
                        "foot foot";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 2fr auto;
}

a {
    color: #ffffff;
    text-decoration-color: #F27A5E;
}

a:hover{
    text-decoration-color:#B3B6F2;
}

body > * {
    padding: 4rem;
}

header{
    grid-area: head;
    
}
nav{
    grid-area: nav;
    padding: 0;
}

nav > ul{
    list-style-type: none;
    padding: 0;
}

body > nav ul li{
    display: inline;
    padding-right: 1rem;
}

main{
    grid-area: main;
    padding-top: 0;
    
}

footer{
    grid-area: foot;
}

header, footer {
    padding-top: 1.33rem;
    padding-bottom: 1.33rem;

}
header h1, footer h1{
    margin: 0;
}

body#portfolio ul#portfolioitems{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width:25em){
    body#portfolio ul#portfolioitems li{
        flex-basis: 48%;
        padding-right: 2%;
    }
}

body#portfolio ul#portfolioitems li{ 
    max-width: 100%;
}